/config/sim_skeleton/stop-sim
/config/sim_skeleton/start-sim
/config/sim_skeleton/common.sh
/config/sim_skeleton/backup-sim
/config/ROBUST/stop-sim
/config/ROBUST/start-sim
/config/ROBUST/common.sh
/config/Robust.ini
.project
.settings
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.dll.build
*.dll

# Ignore .user and .suo files as these are user preference specific
# http://stackoverflow.com/questions/72298/should-i-add-the-visual-studio-suo-and-user-files-to-source-control
*.suo
*.user

*.VisualState.xml
*/*/obj
*/*/*/obj
*/*/*/*/obj
*/*/*/*/*/obj
*/*/*/*/*/*/obj
*/*/*/*/*/*/*/obj
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin
bin/Debug/*.dll
bin/*.dll.mdb
db/*.db
db/*.db-journal
caches/addin-db-*
bin/*.dll
!bin/LukeSkywalker.IPNetwork.dll
!bin/Npgsql.dll
!bin/ICSharpCode.SharpZipLib.dll
bin/OpenSim.vshost.exe.config
bin/OpenSim.32BitLaunch.vshost.exe.config
logs/OpenSim.32BitLaunch.log
UpgradeLog.XML
_UpgradeReport_Files/
caches/ScriptEngines/*-*-*-*-*
caches/ScriptEngines/*.dll
caches/ScriptEngines/*/*.dll
caches/ScriptEngines/*/*.state
bin/*.maddin
bin/*.exe
bin/*.ini
caches/j2kDecodeCache
bin/Physics*
bin/Terrain*
caches/Regions/*
bin/UserAssets
caches/assetcache
caches/maptiles
bin/bakes
bin/estate_settings.xml
config/config-include/CenomeCache.ini
config/config-include/StandaloneCommon.ini
logs/OpenSim.Grid.AssetInventoryServer.log
logs/OpenSim.Grid.AssetServer.log
logs/OpenSim.Grid.GridServer.log
logs/OpenSim.Grid.InventoryServer.log
logs/OpenSim.Grid.MessagingServer.log
logs/OpenSim.Grid.UserServer.log
logs/OpenSim.log
logs/OpenSimStats.log
logs/Robust.log
logs/RobustStats.log
logs/OpenSimConsoleHistory.txt
logs/RobustConsoleHistory.txt
logs/*.Tests.log
bin/*.manifest
bin/crashes/
Examples/*.dll
OpenSim.build
OpenSim.sln
OpenSim.userprefs
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TestResult.xml
cov/*
OpenSim/OpenSim.userprefs
OpenSim/OpenSim.usertasks
TAGS
*~
Makefile.local
bin/.version
compile.bat
addon-modules
OpenSim/Data/Tests/test-results/
OpenSim/Framework/Serialization/Tests/test-results/
OpenSim/Framework/Servers/Tests/test-results/
OpenSim/Framework/Tests/test-results/
OpenSim/Region/ClientStack/Linden/Caps/test-results/
OpenSim/Region/ClientStack/Linden/UDP/Tests/test-results/
OpenSim/Region/CoreModules/test-results/
OpenSim/Region/Framework/test-results/
OpenSim/Region/OptionalModules/test-results/
OpenSim/Region/Physics/BulletDotNETPlugin/
OpenSim/Region/Physics/Manager/test-results/
OpenSim/Region/Physics/OdePlugin/Tests/test-results/
OpenSim/Region/ScriptEngine/test-results/
OpenSim/Tests/Common/test-results/
OpenSim/Tests/test-results/
test-results/
doc/html
doc/doxygen.error.log

*.patch
